html, body{
    margin: 0;
    height: 100%;
    background-color: aquamarine;

}

/* من الخواص التي يجب تغيرها لكي تصل للمطلوب
    1. لون الخلفيه
    2. الطول والعرض
    3. الهوامش
    4. الحواشي
    5. نوع العرض
    6. border radius */

/* عند الحاجه w3schools قم بالاستعانه بموقع  */


.flexcontainer{
    display: flex;
    height: 98%;
}

.sidebar{
    width: 120px; 
        height: 100%;
        margin: 5px;
        background-color: #EBEBEB; 
        padding: 10px; 
    }
    /* pxالعرض هنا يجب ان يكون 120 */

.header{
    margin: 6px;
    height: 20%px;
    padding: 15px;}
    /* pxالطول هنا يجب ان يكون 80 */
.main{
    margin: 5px ;
    height: 80%;
        padding: 6px; 
        border-radius: 20px;
    }


    .container{
        height: 100%;
    }


a{
    background-color:white ;
    border: 4 px red;
    border-radius: 4px;
    padding: 14px 25px;
  text-align: center;
 
  display: inline-block;
    color: darkgray;
    text-decoration: none;}
    /* اجعل شكل اللنك من غير خط اسفل الكلام */

 .a :hover{ 
    background-color: red;}
/* !بــونص */
/* (hover) اجعل اللنك يتغير لونه الى الابيض عند التأشير عليه */
/* (p) غير محاذاة الفقرات لتصبح بالوسط */

.p1{
    text-align: center;
}

h1{
    margin: 0;
    margin-right: 5px;
}

h2{
    margin: 0;
    margin-left: 5px;
}

